body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

h1 {
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn-0,
.btn-1,
.btn-2 {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #333333;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.btn-0:hover,
.btn-1:hover,
.btn-2:hover {
  background-color: #eeeeee;
}

.edit-button {
  background-color: #9c27b0; /* Purple background */
  color: white; /* White text */
  padding: 5px 10px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  transition: 0.3s; /* Add a hover effect */
}

.edit-button:hover {
  background-color: #7b1fa2; /* Darker shade of purple on hover */
}

.edit-form {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Ensure the form is centered exactly in the middle */
  font-size: 1.2em; /* Increase font size */
  padding: 20px; /* Add some padding */
  background-color: #fff; /* White background */
  border: 1px solid #ddd; /* Add a border */
  border-radius: 5px; /* Add some border radius */
}

.edit-form input,
.edit-form button {
  font-size: 1em; /* Make input and button text larger */
  margin-bottom: 10px; /* Add some margin to the bottom of each input and button */
}
